body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{ background-color: #f9f7fd; }
.navbar-toggler span{ background-color: #000; height: 2px; display: block; margin:4px 0; width: 20px; }
.body-sec{ padding:20px; }
.box-grid{ 
  border:1px solid #eeedee;
  display: flex;
  flex-direction: column;
  width:250px;
  background-color: transparent; margin-left: 5px; margin-right: 5px;  
  margin-top: 20px;
}
.box-grid .heading{ background-color:#f6f3f7; padding:8px 10px; position: relative; display: inline-block; min-height: 40px; }
.box-grid .heading .cross{ position: absolute; right:10px; top:6px; color: #000; }
.flex-row{  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   }
.box-detail { border-top:0; padding:10px; }
.box-detail label{ display: block; margin: 0; padding: 0; padding-bottom: 2px; padding-top: 10px;} 
.box-detail input[type="text"]{ width: 100%; border:1px solid #c5c2c3; display: block;} 
.box-detail select{ width: 100%; border:1px solid #c5c2c3; }
.field-sec{overflow: hidden; margin-bottom: 10px; }
.field-sec input[type="text"], .field-sec select{ width: 50%; float: left;}
.field-sec select{ height: 28px; }
.add_field{ text-align: center; margin-top: 15px; }
.add_type_btn{ margin-top: 21px; }
.add_type_btn, .add_field button{ background-color:#333; width: 100%; border: 0; color:#fff; padding-top:5px; padding-bottom:5px; }